body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(235, 235, 235); /* Color de fondo para modo claro */
    color: #002d50;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002d50;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

.navbar a:hover {
    background-color: white;
    color: #002d50;
}

.navbar .logo {
    font-size: 24px;
    color: white;
}

.navbar-juegos {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    background-color: white;
}

table, th, td {
    padding: 6px;
}

tr {
    background-color: #f2f2f2;
    text-align: center;
}

.navbar-juegos a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.navbar-juegos a:hover {
    background-color: white;
    color: #002d50;
}

@media screen and (max-width: 300px) {
    table thead {
        display: flex;
    }
}

button {
    color: #fff;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    width: 130px;
    height: 40px;
}

#catalogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bienvenida #titulo {
    color: #002d50;
    background-color: white;
}

.bienvenida #eslogan {
    font-size: 20px;
    text-align: center;
}

#peliculas-favoritas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#catalogo img {
    max-width: 200px;
    max-height: 270px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.hidden {
    display: none;
}

#titulo {
    font-size: 2.5em;
    color: #002d50;
    text-align: center;
    padding: 10px;
    margin: 10px;
    line-height: 1.2;
    max-width: 100%;
    border: 3px solid #002d50;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
}

#descripcion {
    font-size: 1em;
    color: #002d50;
    text-align: center;
    padding: 20px;
    margin: 10px;
    line-height: 1.2;
    max-width: 100%;
    border: 2px solid #002d50;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
}

#botones {
    text-align: center;
}

#botones button {
    margin: 10px;
    width: auto;
}

@media (max-width: 768px) {
    #titulo {
        font-size: 2em;
    }
}

#catalogo_favorito {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#catalogo_favorito img {
    max-width: 200px;
    max-height: 270px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
}

.modo-button {
    background-color: #002d50;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.modo-button:hover {
    background-color: #ffffff;
    color: #002d50;
}

@media (max-width: 600px) {
    .modo-button {
        font-size: 14px;
        padding: 10px 20px;
    }
}

/* Modo oscuro */
.dark-mode #body{
    background-color: #02192b; /* Color de fondo en modo oscuro */
    /* color: #fff; /* Color de texto en modo oscuro */
}

.dark-mode header {
    background-color: white;
}

.dark-mode .navbar-juegos tr {
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #002d50;
    border: 1px solid #002d50;
}

.dark-mode .navbar-juegos a:hover {
    color: black;
    text-decoration: none;
    background-color: #002d50;
}

.dark-mode a {
    color: white;
}

.dark-mode #titulo {
    color: white;
    background-color: #002d50;
    border: 2px solid white;
}

.dark-mode #descripcion {
    color: white;
    background-color: #002d50;
    border: 2px solid white;
}

.dark-mode #principal_peliculas,
.dark-mode #principal_favoritas,
.dark-mode #principal_configuracion {
    color: white;
    background-color: #02192b;
}

.dark-mode #inicio.bienvenida,
.dark-mode #eslogan {
    background-color: #02192b;
    color: white;
}
